* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

a {
  width: 100vw;
  padding: 20px 0;
  color: white;
  background-color: red;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

img {
  width: 100vw;
}
